@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 12px;

  @media (max-width: 768px) {
    width: 8px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #8E5CFF 0%, #6CC5FF 100%);
  border-radius: 10px;
  border: 1px solid white;

  @media (max-width: 768px) {
    border-radius: 6px;
  }
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #6CC5FF 0%, #8E5CFF 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #6CC5FF 20%, #8E5CFF 80%);

  @media (max-width: 768px) {
    padding: 1rem;
    height: auto;
    min-height: 100vh;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   background-color: #f3f4f6;

//   @media (max-width: 768px) {
//     min-height: auto;
//   }
// }

// .main {
//   flex: 1;
//   padding: 2rem;
//   max-width: 1200px;
//   margin: 0 auto;

//   @media (max-width: 768px) {
//     padding: 1rem;
//   }
// }

.containerCarrinho {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;


  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: .4rem 0;

    span {
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
    }

    button {
      color: #fff;
      padding: .4rem;
      background-color: #ff4343;
      border-radius: .8rem;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 1px;
      cursor: pointer;
      border: none;

      &:hover {
        opacity: .8;
      }
    }
  }

}